@import url(https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700,700italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(234, 237, 237);
  font-family: "PT sans", sans-serif;
}

button {
  cursor: pointer;
}
/* Navbar */

.header {
  background: #121921;
  display: flex;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 100;
}
.header-logo {
  width: 100px;
  object-fit: contain;
  margin: 18px 20px 0;
  cursor: pointer;
  outline: 0;
}
.header-search {
  display: flex;
  flex: 1;
}
.search-icon {
  height: 30px !important;
  background-color: #cd9042;
}
.header-searchInput {
  height: 30px;
  padding: 10px;
  border: 0;
  width: 100%;
}
.header-nav {
  display: flex;
  padding: 0 8px;
}
.header-link {
  color: #fff;
  text-decoration: none;
}

.header-options {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}
.option1 {
  font-size: 10px;
}
.option2 {
  font-size: 14px;
  font-weight: 800;
}
.header-basket {
  display: flex;
  align-items: center;
}
.basket-count {
  margin-left: 10px;
  margin-right: 10px;
}

/* Home section */
.home {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}
.home-row {
  display: flex;

  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
  justify-content: center;
}
.home-image {
  width: 100%;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: -1;
  margin-bottom: -150px;
}

/* Products */
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  max-height: 400px;
  min-width: 100px;
  margin: 10px;
  padding: 20px;
  background-color: white;
  z-index: 1;
}
.product-price {
  margin-top: 10px;
}
.product > img {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 20px;
}

.product-rating {
  display: flex;
}
.star {
  color: #cd9042;
}
.product-info {
  height: 100px;
  margin-bottom: 20px;
}
.product > button {
  background-color: #f0c14b;
  border: 1px solid;
  padding: 8px 10px;
  font-size: 16px;
  border-color: #a88734 #9c7e31 #846a29;
}

/* Checkout Page */
.checkout {
  display: flex;
  padding: 20px;
  background-color: #fff;
  height: max-content;
}
.checkout_ad {
  width: 100%;
  margin-bottom: 20px;
}
.checkoutProduct_title {
  border-bottom: 1px solid lightgray;
}
/* Checkout products */

.checkout_product {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.checkout_image {
  object-fit: contain;
  height: 180px;
  width: 180px;
}
.checkout_info {
  padding-left: 30px;
}
.checkout_info > button {
  background-color: #f0c14b;
  border: 1px solid;
  padding: 8px 10px;
  font-size: 16px;
  border-color: #a88734 #9c7e31 #846a29;
  margin-top: 15px;
  color: #111;
}
.checkout_rating {
  display: flex;
}
.checkout_title {
  font-size: 20px;
  font-weight: 800;
}
/* subtotal */
.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 125px;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
}
.subtotal_gifts {
  display: flex;
  align-items: center;
}
.subtotal_gifts > input {
  margin-right: 5px;
}
.subtotal > button {
  background-color: #f0c14b;
  border-radius: 2px;
  border: 1px solid;
  width: 100%;
  height: 30px;
  border-color: #a88734 #9c7e31 #846a29;
  margin-top: 15px;
  color: #111;
}
/* Login Page */
.login {
  background-color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.login_container {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid lightgray;
}
.login_logo {
  width: 100px;
  object-fit: contain;
  margin-top: 25px;
  margin-bottom: 25px;
}
.login_container > h1 {
  font-weight: 500;
  margin-bottom: 25px;
}
.login_container > form > h5 {
  margin-bottom: 5px;
}
.login_container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: #fff;
  width: 98%;
}
.login_container > p {
  margin-top: 20px;
  font-size: 12px;
}

.login_signIn {
  background-color: #f0c14b;
  border-radius: 2px;
  border: 1px solid;
  width: 100%;
  height: 30px;
  border-color: #a88734 #9c7e31 #846a29;
  margin-top: 15px;
  color: #111;
}
.login_registerBtn {
  border-radius: 2px;
  border: 1px solid;
  width: 100%;
  height: 30px;
  border-color: darkgray;
  margin-top: 15px;
  color: #111;
}

@media screen and (max-width: 500px) {
  .home-row {
    flex-wrap: wrap;
  }
  .header-link:nth-child(2) {
    display: none;
  }
  .header-link:nth-child(3) {
    display: none;
  }
  .checkout {
    flex-direction: column;
  }
}
